{% extends 'base.html.twig' %}

{% block header_button %}
    <a href="{{ path('post_new') }}">
        <button class="btn btn-success my-2 my-sm-0" type="button">Add post</button>
    </a>
{% endblock %}

{% block body %}

    <main role="main" class="container">

        {% for post in posts %}

            <div class="post card bg-light m-3">

                <h3 class="post-header mt-2 ml-3 mb-2 mr-3">
                    {{ post.title }}
                </h3>

                {{ render(controller("AppBundle:Tag:_show",{"post":post})) }}

                <p class="post-content m-3">

                    {% if post.content|length > 300 %}
                        {{ post.content|slice(0,300)~ "..." }}
                    {% else %}
                        {{ post.content }}
                    {% endif %}
                </p>
                <a href="{{ path('post_show', {'id': post.id}) }}">
                    <button type="button" class="btn btn-sm btn-outline-info mt-2 ml-3 mb-3 mr-3">See more</button>
                </a>
            </div>

        {% endfor %}
    </main>

{% endblock %}

