{% extends 'base.html.twig' %}

{% block header_button %}
    <button class="btn btn-info my-2 my-sm-0" type="button">Posts</button>
{% endblock %}

{% block body %}

    <main role="main" class="container d-flex flex-column">
        <div class="post card bg-light m-3">
            <h1 class="text-center m-3">
                {{ post.title }}
            </h1>

            <p class="m-3">{{ post.content }}</p>

            <div class="d-flex justify-content-between">
                <a href="{{ path('_edit', {'id': post.id}) }}">
                    <button type="button" class="btn btn-success m-3">Edit</button>
                </a>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-danger m-3">Delete</button>
                {{ form_end(delete_form) }}
            </div>

        </div>
    </main>

{% endblock %}
